.desktop {
  flex: 1;
  position: relative;
  overflow: visible;
  padding-top: 50px;
}

.iconGrid {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 15px;
  padding: 20px;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
}
